<!--Diapositivas-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/campaMaimara/foto1.png" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/campaMaimara/foto2.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/campaMaimara/foto3.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/campaMaimara/foto4.jpg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br>
<br>
<!--Fin de Diapositivas-->

<!-- Horarios y Actividades -->
<div class="container">
  <h2>Campa Maimará</h2>
  <p class="lead">Edición 2020</p>
  <hr>
    <div class="row">
      <!-- Sección de noticias -->
      <div class="col-12 col-lg-9 mb-5">

        <!-- Inicio Artículos -->
        <div class="row mb-5">

          <div class="col-sm-3 col-md-4">
            <div class="list-group">
              <a href="campamento-maimara" class="list-group-item list-group-item-action active">
                Campamento Maimará 2020
              </a>
              <a href="/campamento-maimara#info" class="list-group-item list-group-item-action">Información</a>
              <a href="/campamento-maimara#jm" class="list-group-item list-group-item-action">Jóvenes Mayores</a>
              <a href="/campamento-maimara#jme" class="list-group-item list-group-item-action">Jóvenes Menores</a>
              <a href="/campamento-maimara#a" class="list-group-item list-group-item-action">Adolescentes</a>
              <a href="/campamento-maimara#pa" class="list-group-item list-group-item-action">Pre-A2</a>
              <a href="/campamento-maimara#n" class="list-group-item list-group-item-action">Niños</a>
              <a href="/campamento-maimara#co" class="list-group-item list-group-item-action" tabindex="-1" aria-disabled="true">Contactos</a>
            </div>
          </div>
          <br>
          <br>
          <div class="col-sm-9 col-md-5">
            <a name="info"><h3>Información</h3></a>
            <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
            <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
              <p class="parrafo">
                <img class="img-fluid" src="/assets/img/campaMaimara/cerro.jpg" alt="">
                <br>
                Maimará es una localidad y municipio de argentina ubicado en el departamento de Tilcara de la provincia de Jujuy.<br>
                Su entorno geográfico pertenece a la quebrada de Humahuaca, y tiene como característica principal la policromía de sus cerros. El río Grande corre a escasos metros de allí.<br>
                La <b>Colonia Evangelica Maimará</b> está ubicado sobre la Av. principal de la localidad frente al Club Deportivo Maimará (cancha) y en diagonal al Hospital de la misma.
                <hr>
                <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
              <p id="desplegar" style="display:none;">
                
                <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
              </p>-->
          </div>
        </div>
        <!-- Fin Artículos -->

        <!-- Inicio Artículos -->
        <div class="container">
          <div class="row mb-5">
            <div class="col-sm-3">
              <img class="img-fluid" src="/img/campaMaimara/jm.jpg" alt="">
              <p class="lead text-muted text-center">04 al 11 de Enero 2020</p>
            </div>
            <div class="col-sm-9">
              <a name="jm"><h3>Jóvenes Mayores</h3></a>
              <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
              <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
              <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
                <p class="parrafo">#CampaMaimará<br>
                  
                  <br>
                  <iframe width="320" height="215" src="https://www.youtube.com/embed/bGeak07H8zg" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>
                  
                  <iframe width="320" height="215" src="https://www.youtube.com/embed/Ys8ShjIoDn0" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>
                  
                  <iframe width="320" height="215" src="https://www.youtube.com/embed/wlxvs3zxrkM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <br>
                  
                  <iframe width="320" height="215" src="https://www.youtube.com/embed/k6njml4hPsM" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                  <hr>
                  <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
                <p id="desplegar" style="display:none;">
                  
                  <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
                </p>-->
            </div>
          </div>
        </div>
          <!--Fin Articulo-->

           <!--Inicio Slider-->
         <div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
          <ol class="carousel-indicators">
            <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="21"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="22"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="24"></li>
            <li data-target="#carouselExampleIndicators" data-slide-to="25"></li>
          </ol>
          <div class="carousel-inner">
            <div class="carousel-item active">
              <img src="/assets/img/campaMaimara/jm1.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm2.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm3.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm4.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm5.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm26.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm6.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm7.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm8.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm9.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm10.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm11.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm12.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm13.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm14.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm15.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm16.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm17.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm18.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm19.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm20.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm21.jpg" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm22.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm23.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm24.JPG" class="d-block w-100" alt="...">
            </div>
            <div class="carousel-item">
              <img src="/assets/img/campaMaimara/jm25.jpg" class="d-block w-100" alt="...">
            </div>
          </div>
          <br>
          <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
            <span class="sr-only">Previous</span>
          </a>
          <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
            <span class="sr-only">Next</span>
          </a>
        </div>
        <!--Fin Slider-->

        <!--Enlace de Descarga-->
        <p class="card-text">Diapositivas del Orador "David Lamas"</p>
        <img src="/assets/img/campaMaimara/descarga.jpg"><a href="https://mega.nz/folder/eK4HVK5B#TdXJcG3ESGLqAdQw0he4CA" target="_blank"> Descarga Aquí</a>
        <br>
        
        <!-- Inicio Artículos -->
        <div class="row mb-5">
          <div class="col-sm-3">
            <img class="img-fluid" src="/img/campaMaimara/logopng.jpg" alt="">
            <p class="lead text-muted text-center">11 al 18 de Enero 2020</p>
          </div>
          <div class="col-sm-9">
            <a name="jme"><h3>Jóvenes Menores</h3></a>
            <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
            <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
              <p class="parrafo">#CampaMaimará
                <br>
                <b>Campa Jóvenes Menores 2017</b>
                <br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/Jr0sg14eXrI" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                <hr>
                <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
              <p id="desplegar" style="display:none;">
                
                <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
              </p>-->
          </div>
        </div>
        <!--Fin Articulo-->

         <!-- Inicio Artículos -->
         <div class="row mb-5">
          <div class="col-sm-3">
            <img class="img-fluid" src="/assets/img/campaMaimara/logopng.jpg" alt="">
            <p class="lead text-muted text-center">18 al 25 de Enero 2020</p>
          </div>
          <div class="col-sm-9">
            <a name="a"><h3>Adolescentes</h3></a>
            <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
            <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
              <p class="parrafo">#CampaMaimará
                <br>
                <b>Campa Adolescentes 2017</b><br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/TO1ukcyKYW8" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
                <hr>
                <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
              <p id="desplegar" style="display:none;">
                
                <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
              </p>-->
          </div>
        </div>
        <!--Fin Articulo-->

        <!-- Inicio Artículos -->
        <div class="row mb-5">
          <div class="col-sm-3">
            <img class="img-fluid" src="/img/campaMaimara/fotos pre/foto.jpg" alt="">
            <p class="lead text-muted text-center">25 de Enero al 01 de Febrero 2020</p>
          </div>
          <div class="col-sm-9">
            <a name="pa"><h3>Pre-Adolescentes</h3></a>
            <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
            <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
              <p class="parrafo">#CampaMaimará
                <br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/PPbDJeUwHZA" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/0koElW1oH9w" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/ysA0Tl6C78Q" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <br>
                <iframe width="320" height="215" src="https://www.youtube.com/embed/knUp8ImUXfE" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                <hr>
                <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
              <p id="desplegar" style="display:none;">
                
                <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
              </p>-->
          </div>
        </div>
        <!--Fin Articulo-->

         <!--Inicio Slider-->     
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
  <ol class="carousel-indicators">
    <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="3"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="4"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="5"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="6"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="7"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="8"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="9"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="10"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="11"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="12"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="13"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="14"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="15"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="16"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="17"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="18"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="19"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="20"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="21"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="22"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="23"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="24"></li>
    <li data-target="#carouselExampleIndicators" data-slide-to="25"></li>
  </ol>
  <div class="carousel-inner">
    <div class="carousel-item active">
      <img src="/assets/img/campaMaimara/fotos pre/pre1.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre2.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre3.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre4.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre5.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre6.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre7.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre8.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre9.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre10.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre11.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre12.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre13.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre14.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre15.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre16.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre17.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre18.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre19.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre20.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre21.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre22.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre23.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre24.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre25.jpg" class="d-block w-100" alt="...">
    </div>
    <div class="carousel-item">
      <img src="/assets/img/campaMaimara/fotos pre/pre26.jpg" class="d-block w-100" alt="...">
    </div>
  </div>
  <br>
  
  <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
    <span class="carousel-control-prev-icon" aria-hidden="true"></span>
    <span class="sr-only">Previous</span>
  </a>
  <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
    <span class="carousel-control-next-icon" aria-hidden="true"></span>
    <span class="sr-only">Next</span>
  </a>
</div>
<hr>
<!--Fin Slider-->

<!-- Inicio Artículos -->
<div class="row mb-5">
  <div class="col-sm-3">
    <img class="img-fluid" src="/assets/img/campaMaimara/logopng.jpg" alt="">
    <p class="lead text-muted text-center">01 al 08 de Febrero 2020</p>
  </div>
  <div class="col-sm-9">
    <a name="n"><h3>Niños</h3></a>
    <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
    <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
    <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
      <p class="parrafo">#CampaMaimará
        <br>
        <b>Campa de Niños 2017</b><br>
        <iframe width="320" height="215" src="https://www.youtube.com/embed/I7xBHqb7www" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
        <hr>
        <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
      <p id="desplegar" style="display:none;">
        
        <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
      </p>-->
  </div>
</div>
<!--Fin Articulo-->

 <!-- Inicio Artículos -->
 <div class="row mb-5">
  <div class="col-sm-3">
    <img class="img-fluid" src="/img/campaMaimara/logopng.jpg" alt="">
    <p class="lead text-muted text-center">Comisión</p>
  </div>
  <div class="col-sm-9 text-center">
    <a name="co"><h3>Contacto</h3></a>
    <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
    <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
    <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
      <p class="parrafo">#CampaMaimará<br>
        <b>Contactos</b>
        <br></p>
        <p><img src="/assets/img/campaMaimara/whatsapp.png"> 388-5013275</p>
        <p><img src="/assets/img/campaMaimara/whatsapp.png"> 351-6617345</p>
        <p><img src="/assets/img/campaMaimara/whatsapp.png"> 388-4395455</p>
        <p><img src="/assets/img/campaMaimara/whatsapp.png"> 388-6828368</p>
        <hr>
        <!--<a href="#" onclick="vermas('mas');" id="mas" class="btn btn-outline-warning btn-sm">... Leer más</a></p>
      <p id="desplegar" style="display:none;">
        
        <a href="#" onclick="vermas('menos');" id="menos" class="btn btn-outline-warning btn-sm">... Leer menos</a>
      </p>-->
  </div>
</div>
</div>
<!-- Fin Sección noticias -->

<!-- Aside -->
<div class="col-12 col-md-3">

 <!-- Cards -->
 <div class="mb-2">
  <div class="card text-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Precios Turnos y Fechas</div>
    <div class="card-body">
      <h5 class="card-title">Campa Maimará 2020</h5>
      <p><img src="/assets/img/campaMaimara/promo.jpg"></p>
    </div>
  </div>
</div>
<!-- Fin Cards -->

<!-- Cards -->
<div class="mb-2">
  <div class="card text-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">Recomendaciones</div>
    <div class="card-body">
      <h5 class="card-title">Prepara Tu:</h5>
      <p><img src="/assets/img/campaMaimara/reco.jpg"></p>
    </div>
  </div>
</div>
<!-- Fin Cards -->

<!-- Cards -->
<div class="mb-2">
  <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
    <div class="card-header">El color Amarillo es:</div>
    <div class="card-body">
      <h5 class="card-title">Dios es Amor</h5>
      <p class="card-text">El que no ama, no ha conocido a Dios; porque Dios es amor.<br>1° Juan 4:8</p>
      <p class="card-text">Y nosotros hemos conocido y creído el amor que Dios tiene para nosotros. Dios es amor; y el que permanece en amor, permanece en Dios, y Dios en él.<br>1° Juan 4:16</p>
    </div>
  </div>
</div>
<!-- Fin Cards -->
<!-- Cards -->
<div class="mb-2">
  <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
    <div class="card-header">El color negro es:</div>
    <div class="card-body">
      <h5 class="card-title">Pecado</h5>
      <p class="card-text">Por cuanto todos pecaron, y están destituido de la gloria de Dios.<br>Romanos 3:23</p>
      <p class="card-text">Porque la paga del pecado es muerte, mas la dádiva de Dios es vida eterna en Cristo Jesús Señor nuestro.<br>Romanos 6:23</p>
    </div>
  </div>
</div>
<!-- Fin Cards -->
<!-- Cards -->
<div class="mb-2">
  <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
    <div class="card-header">El color rojo es:</div>
    <div class="card-body">
      <h5 class="card-title">La Sangre</h5>
      <p class="card-text">...y la sangre de de Jesucristo su Hijo nos limpia de todo pecado. <br>1° Juan 1:7</p>
      <p class="card-text">Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna.<br>Juan 3:16</p>
    </div>
  </div>
</div>
<!-- Fin Cards -->
<!-- Cards -->
<div class="mb-2">
  <div class="card bg-light mb-3" style="max-width: 18rem;">
    <div class="card-header">El color blanco es:</div>
    <div class="card-body">
      <h5 class="card-title">El Perdón/Corazón Limpio</h5>
      <p class="card-text">Mas a todos los que le recibieron, a los que creen en su nombre, les dio postetad de ser hechos hijos de Dios.<br>Juan 1:12</p>
      <p class="card-text">Si confesamos nuestros pecados, él es fiel y justo para perdonar nuestros pecados, y limpiarnos de toda maldad.<br>1° Juan 1:9</p>
    </div>
  </div>
</div>
<!-- Fin Cards -->
<!-- Cards -->
<div class="mb-2">
  <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
    <div class="card-header">El color verde es:</div>
    <div class="card-body">
      <h5 class="card-title">Crecimiento Espiritual</h5>
      <p class="card-text">Antes bien, creced en la gracia y el conocimiento de nuestro Señor y Salvador Jesucristo...<br>2° Pedro 3:18a.</p>
    </div>
  </div>
</div>
<!-- Fin Cards -->
</div>
<!-- Fin Aside -->
</div>
</div>
<!-- Fin de Horarios y Actividades -->
