<!--Inicio tarjetas de 3-->
<div class="container principal">
    <div class="row">
      <div class="col-lg-12 text-center">
              <div class="row">
                    <!--tarjeta 1-->
                  <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card-section border rounded p-3">
                        <div class="card-header-first rounded pb-5">
                            <h2 class="card-header-title text-white pt-3">Clase 10 - Varones</h2>
                        </div>
                        <div class="card-body text-center">
                          <img src="/assets/img/tarjetas/varonesreu.jpg" class="card-img-top" alt="...">
                          <a href="https://meet.jit.si/ICE_CALLESALTA_950_10_04_2020_Pascua"></a>
                          <p class="card-text">La clase 10 de Vaornes de la Escuela Dominical da inicio vía on-line, invitemos y compartamos</p>
                          <br>
                            <hr>
                            <!--<button class="btn btn-lg btn-secondary">Más info</button>-->
                        </div>
                      </div>
                  </div>
                    <!--tarjeta 2-->
                  <div class="col-lg-4 col-md-12 mb-4">
                     <div class="card-section border rounded ml-4 mr-4">
                        <div class="card-header card-header-second rounded">
                           <h2 class="card-header-title mb-3 mt-1 text-white">Clase 6 - Adolescentes</h2>
                        </div>
                        <div class="card-body text-center">
                          <img src="/assets/img/tarjetas/clase6.jpeg" class="card-img-top" alt="...">
                          <p class="card-text" ><br>Adolescentes todos invitados a participar de su encuentro, invita a otros.</p>
                            <br>    
                                <!--<button class="btn btn-lg btn-secondary">Más info</button>-->
                        </div>
                    </div>
                  </div>
                    <!--tarjeta 3-->
                  <div class="col-lg-4 col-md-12 mb-4">
                      <div class="card-section card-section-third border rounded">
                        <div class="card-header card-header-third rounded">
                            <h2 class="card-header-title mb-3 text-white">Escuela Dominical de Niños - Monterrico</h2>
                        </div>
                        <div class="card-body text-center mb-2">
                          <img src="/assets/img/tarjetas/cuarentena.jpeg" class="card-img-top" alt="...">
                           <p class="card-text">Hoy a las 16 hs empieza la escuelita dominical para todos los niños estaremos trasmitiendo vía Facebook y YouTube</p>
                           <a href="https://youtu.be/AYbED-CJcoc" target="_blank">Entrar Aquí</a>
                           <hr>
                          <!--<span><a href="#"><i class="fab fa-bluetooth rounded-circle" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fas fa-wifi rounded-circle" aria-hidden="true"></i></a></span>
                            <span><a href="#"><i class="fas fa-plug rounded-circle" aria-hidden="true"></i></a></span>-->
                        </div>
                      </div>
                  </div>
              </div>
      </div>
    </div>
  </div>
  <!--Fint tarjeta de 3-->

