<!--Diapositivas-->
<div id="carouselExampleIndicators" class="carousel slide" data-ride="carousel">
    <ol class="carousel-indicators">
      <li data-target="#carouselExampleIndicators" data-slide-to="0" class="active"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="1"></li>
      <li data-target="#carouselExampleIndicators" data-slide-to="2"></li>
    </ol>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="/assets/img/icee.jpg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/calle salta antigua.jpeg" class="d-block w-100" alt="...">
      </div>
      <div class="carousel-item">
        <img src="/assets/img/callesaltaantigua2.jpeg" class="d-block w-100" alt="...">
      </div>
    </div>
    <a class="carousel-control-prev" href="#carouselExampleIndicators" role="button" data-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="sr-only">Previous</span>
    </a>
    <a class="carousel-control-next" href="#carouselExampleIndicators" role="button" data-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="sr-only">Next</span>
    </a>
  </div>
<br>
<br>
<!--Fin de Diapositivas-->
 
 <!-- Horarios y Actividades -->
 <div class="container">
  <h2>Nuestra Hitoria</h2>
  <p class="lead">Como iniciamos la obra en Jujuy</p>
  <hr>
    <div class="row">
      <!-- Sección de noticias -->
      <div class="col-12 col-lg-9 mb-5">

        <!-- Inicio Artículos -->
        <div class="row mb-5">
          <div class="col-3">
            <img class="img-fluid" src="/img/historia.png" alt="">
            <p class="lead text-muted text-center">3 de Julio de 1921</p>
          </div>
          <div class="col-9">
            <a [routerLink]="['historia']"><h3>Historia Calle Salta 950 Jujuy</h3></a>
            <!--<a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>-->
            <!--<center><h2 class="mt-4">Horarios Semanales</h2>-->
              <p class="parrafo">Buscar los principios de la obra evangélica en la provincia de Jujuy, es sumamente difícil porque no hay testimonios escritos, sino solamente tradiciones orales que hacen referencias a los trabajos evangelísticos de hermanos misioneros y vendedores de Biblias que pasaron por Jujuy hacia Bolivia.<br>
                En consecuencias, los orígenes son inciertos, y se remota a los años 1883 a 1885, en los que se cuenta que paso por Jujuy, un colpoltor de la Sociedad Bíblica Británica y Extranjera, de apellido Henrikeer.<br>
                Este obrero de Dios, paso por este lugar ofreciendo Biblias y distribuyendo porciones bíblicas, rumbo a la nación de Bolivia, introduciendo las Sagradas Escrituras y material Bíblico, llegando hasta la ciudad de Tupiza.<br>
                Más tarde otros colpoltores como el hermano Milne de la Sociedad Bíblica Americana, siguieron con la tarea de la venta de Biblias y repartiendo al mismo tiempo selecciones bíblicas de la obra de Cristo en el Calvario.<br>
                Hacia el año 1895, hace su primer paso por Jujuy el Misionero don Guillermo Payne, oriundo de Irlanda.  Siendo Jujuy la ruta y el paso obligado para llegar a Bolivia y Perú, y el lugar donde los viajeros se proveían de animales, don Guillermo se proveyó de mulas, para continuar el viaje hacia Bolivia, llegando con la predica del evangelio hasta la ciudad de Sucre en Julio de 1895.
                La oposición del evangelio, hizo que don Guillermo Payne fuera expulsado de la República de Bolivia.<br>
                Debemos recordar que el hermano Payne junto a su familia llegaron a la Argentina en a fines de 1892, para pasar una temporada en Tandil y luego a Córdoba por la salud de su esposa.<br>
                Es aquí en donde le hermano don Guillermo Payne se interesó por las necesidades del evangelio en la zona norte de Argentina.
                Entonces en el año 1895, comienza su tarea evangelística pasando por Jujuy con rumbo a la nación boliviana.
                En 1898, nuevamente encontramos el accionar de don Guillermo Payne, junto con el hermano Jaime Clifford, oriundo de Escocia y otros misioneros como lo es Langran y don Santiago Mc Cabe.<br>
                Todos ellos con la misión de sembrar el evangelio, deciden viajar a Bolivia pero ingresando por Perú. De esta manera estando en ya Bolivia y luego de sus tareas evangelísticas, deciden regresar a Argentina, pasando nuevamente por Jujuy haciéndolo a lomo de mulas.<br>
                Estando en la ciudad de Jujuy, estos esforzados misioneros siguieron con la tarea de sembrar el evangelio y enseñar la Palabra de Dios.<br>
                Llegando al año 1900, donde nuevamente encontramos al hermano Payne con su familia sembrando la semilla del Evangelio. Luego deciden viajar a Bolivia para llegar a la ciudad de Sucre, en ese mismo año don Guillermo trajo a su hija mayor a Jujuy, para luego despacharla a Inglaterra para sus estudios.<br>
                Pero hay algo muy importante que debemos recordar de la vida de don Guillermo en Bolivia. La radicación de este evangelista en la ciudad de Sucre, hizo desatar la reacción de la Iglesia Católica, por lo cual se dirige a Cochabamba, sufriendo allí lo que se dio a llamar “El Motín de Cochabamba”, a punto de peligrar su vida con el atropello e incendio en su casa.<br>
                Es por ello que debemos considerar a don Guillermo Payne como un varón esforzado y valiente en la defensa del evangelio. Demás estar decir que, en el norte de nuestro país, siempre fue un desafío para este misionero. Por eso no es extraño encontrarlo en Salta y Jujuy, predicando con denuedo el evangelio de nuestro Señor Jesucristo.<br>
                En el año 1905, según un documento conocido como “El saludo de un Veterano”, de Ernesto Gray, existe ya una asamblea en San Salvador de Jujuy, bajo la responsabilidad directa del hermano Diego Castles, quien llegara a la Argentina en el año 1903. Este hermano, tras trabajar en Jujuy y Salta, se radico en Montevideo en 1917.<br>
                Corre ahora el año 1906, en este año se hacían reuniones en la ciudad de Salta. En una de ellas se les pregunto al hermano Guillermo Payne, si era la primera vez que llegaba con la Palabra de Dios en esa ciudad.
                A esa pregunta don Guillermo respondió con emoción diciendo que había predicado en la calle en el año 1900, siendo ultrajado y perseguido por difundir el evangelio que trae salvación por medio del señor Jesucristo.<br>
                Así este fiel siervo de Dios no cesaba de predicar la Palabra de Dios. Tal fue su vocación que regreso a su tierra natal en Irlanda para interesar a los hermanos de allí, para apoyar y tener comunión con la obra del Señor en el Norte Argentino.<br>
                Hacia fines de 1906 y principios de 1907, los misioneros Nicolas Doorn y Jorge Langran, se separan de don Guillermo Payne y siguen el viaje hacia esta ciudad de San Salvador de Jujuy. El objetivo de este viaje es el de visitar los pequeños pueblos del camino, y después de mas de tres meses de andar a caballo sembrando la Palabra de Dios, llegan a esta ciudad capital.<br>
                Sabemos por testimonios de hermanos, que don Juan Linton, inicia su tarea evangelizadora en San Pedro de Jujuy, con la colaboración de otro hermano llamado Hernesto Heycook.<br>
                En el año 1908, el cual consideramos muy importante para la obra evangélica en esta ciudad de San Salvador de Jujuy, pues en este año o quizás un poco antes, se comenzaron a celebrar reuniones de predicación y enseñanza de la Palabra de Dios, en un salón alquilado sobre la calle Senador Pérez, donde el hermano Timoteo Nogales, era el principal líder espiritual de ese entonces.<br>
                Es aquí cuando el misionero Guillermo Payne, comenzó a hacer giras evangelísticas y de invitación a Asambleas de Salta y Jujuy. Don Guillermo era invitado para atender las primeras reuniones, lo que hacía con mucho entusiasmo.<br>
                Estas visitas misioneras de Don Guillermo continuaron hasta el 1917, celebrando reuniones de predicación y enseñanzas de la Palabra de Dios en Salta, Santiago del Estero, Jujuy capital y en San Pedro de Jujuy.<br>
                En este tiempo, alrededor del mes de Noviembre de 1917, llego a manos de Guillermo Payne una carta firmada por tres personas que Vivian alejadas de la estación de Purmamarca, pidiendo ayuda para aprender de la Palabra de Dios y que se diese testimonio del evangelio.<br>
                Estos hermanos ofrecían enviar caballos para los que vinieran, y estaban interesados en un folleto que habían recibido en el año 1915.<br>
                Uno de estos amigos del evangelio, se llego hasta esta ciudad capital, consiguiendo un ejemplar del Evangelio de San Lucas. Estos amigos lo leyeron por turno, y así de esta manera comenzó la obra por los lugares montañosos de la Quebrada de Humahuaca.<br>
                En el año 1917, un grupo de creyentes alquila un salón sobre calle Independencia, celebrando por primera vez la reunión de la Cena del Señor en la Capital de San Salvador de Jujuy.<br>
                Durante el año 1918 y 1919, de San Salvador de Jujuy y San Pedro de Jujuy ayudaron en el pueblo de la “Esperanza” con la obra evangélica, también el misionero Guillermo Payne, realiza una nueva gira por Jujuy visitando las iglesias establecidas.<br>
                En su afán de seguir predicando el evangelio, Don Guillermo en el año 1920, realiza otra gira por el Norte Argentino, pero esta vez en compañía de los misioneros Jaime Clifford y Samuel Williams, haciendo reuniones en San Salvador de Jujuy y en San Pedro de Jujuy.<br>
                En este tiempo, don Guillermo saliendo de San Pedro de Jujuy fue a ver al hermano Abraham Herrera, junto con el llegaron a Fraile Pintado, y de allí se internaron en la selva, predicando el evangelio en Guayacán, Ranjel y Langunilla; haciendo luego reuniones en la casa de don Florencio Chauque en el pueblo de Ledesma.<br>
                Ciertamente el hermano Guillermo Payne, por esos años fue un obrero incansable sembrando la Palabra de Dios. Es así que hizo centro de sus actividades estableciéndose en San Salvador de Jujuy.<br>
                Estando entonces en esta ciudad, se aboco a conseguir un terreno donde edificar un salón para reuniones y conferencias, lo cual se concreto <u><i><b>el 3 de Julio de 1921,</b></i></u> escriturándose este terreno que hoy disfrutamos por la gracia del Señor, en Calle Salta N°950, lugar céntrico de la Ciudad de San Salvador de Jujuy y a pocas cuadras de la Estación del Ferrocarril.<br>
                De esta manera se consolida la obra evangélica en San Salvador de Jujuy, construyéndose el salón de reuniones con la ayuda de todos los hermanos.<br>
                Durante los primeros meses del año 1922, don Guillermo Payne estaba muy ocupado visitando las Congregaciones de Salta y Jujuy. En esta gira misionera llego a conocer a la Srta. Constancia Coombar, dedicada a la obra entre los indígenas de la parte norte de Jujuy. Luego de un corto noviazgo, se casaron el 19 de febrero de 1923 y trabajaron juntos en los preparativos de conferencias especiales.<br>
                En esta primera conferencia se bautizaron 6 hermanos provenientes de diferentes lugares alejados de la ciudad capital.
                Así también en uno de sus viajes a Tilcara, en noviembre de 1923, Don Guillermo bautizo a una señora y su hermano anciano, los cuales se habían convertido el Señor Jesucristo, por un evangelio recibido en la estación de Maimará, que tenía la dirección de Calle Salta 950 Capital. Este hermano anciano al ser bautizado dijo: “Gracias a Dios por este folleto recibido en Maimará ha dado su fruto”.<br>
                A comienzos de 1924, con la llegada del hermano misionero Eduardo Findlay, para atender la obra en el Norte Argentino por 4 años; Don Guillermo emprende una gira evangelística por Bolivia, y estando en Santa Cruz de la Sierra, este fiel siervo de Dios sufre un agudo ataque de angina, siendo asistido por el Dr. Jorge Hamilton. No obstante, los cuidados médicos, Don Guillermo Payne parte a la presencia del Señor en la madrugada del 4 de Junio de 1924.<br>
                Sucedido esto, también en el año 1924, llegaron a Jujuy los misioneros Don Heriberto Gerrard y Reginaldo Powell. La misión de estos obreros era trabajar entre los indios chiri-guanos, pero su tarea evangelizadora se extendió a toda la provincia de Jujuy.
                Don Reginaldo Powell, en especial, recorre todo el norte jujeño, haciendo giras evangelísticas y de col portaje bíblico, mientras que Don Heriberto Gerrard, trabaja por años en la capital jujeña, haciendo su sede en Calle Salta 950.<br>
                En el verano recorrían la Puna jujeña, y en el invierno visitaban la zona tropical donde están los ingenios azucareros. Luego ellos se radicaron en la ciudad de San Ramon de la nueva Oran (Salta) en el año 1958.<br>
                Así también en el año 1939, hace su llegada a la capital de Jujuy, el hermano Antonio Parisi, desde la ciudad de la Plata. Este hermano se casó con Victoria Sánchez y se dedicaron al col portaje bíblico. De esta manera sembrando la Palabra de Dios por todo el norte argentino y el chaco salteño.<br>
                Debemos recordar también a otros misioneros que estuvieron viviendo en la ciudad capital de San Salvador de Jujuy, sembrando la Palabra de Dios, entre ellos, Don Arcángel Faienza y Señora, Don Ernesto Parish y esposa y Don Percy Aish y su esposa Elena Holmes.<br>
                Una mención especial a merece Don Aníbal Palazzo y señora, que se instalaron en la capital con una librería evangélica en calle Senador Pérez N°525, sembrando el evangelio, enseñando y colaborando con la obra en esta congregación de calle salta 950.
                La Iglesia de Calle Salta 950 y los hermanos que la componen y la dirigen por la gracia del Señor, siempre han tenido la visión evangelizadora y enseñadora de la Palabra de Dios, dando lugar a diversos anexos que nacieron en la ciudad capital y lugares cercanos y que en la actualidad funcionan ya como Iglesias establecidas.
              </p>
          </div>
        </div>
        <!-- Fin Artículos -->

        <!-- Artículos
        <div class="row mb-5">
          <div class="col-3">
            <img class="img-fluid" src="images/cards1.png" alt="">
            <p class="lead text-muted text-center">08 Abril 2017</p>
          </div>
          <div class="col-9">
            <a href="#"><h3>Lorem ipsum dolor sit amet.</h3></a>
            <a href="#"><span class="badge badge-danger text-uppercase">html</span></a>
            <a href="#"><span class="badge badge-primary text-uppercase">css</span></a>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Praesentium ipsum, similique debitis saepe soluta, vero provident ab atque fuga molestias magni repellat labore adipisci! Sapiente deleniti numquam minus adipisci reiciendis at, assumenda odit itaque tempore voluptas, repellat sequi ab quibusdam.</p>
            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Animi rem quasi reiciendis, ut eligendi, facilis deleniti temporibus vero ipsum accusamus.</p>
            <a href="#" class="btn btn-outline-warning btn-sm">Leer más...</a>
          </div>
        </div>-->

        <!-- Navegación páginas 
          <div class="d-flex justify-content-center">
            <div class="btn-toolbar" role="toolbar" aria-label="Toolbar with button groups">
              <div class="btn-group mr-2" role="group" aria-label="First group">
                <button type="button" class="btn btn-secondary">Inicio</button>
                <button type="button" class="btn btn-secondary active">1</button>
                <button type="button" class="btn btn-secondary">2</button>
                <button type="button" class="btn btn-secondary">3</button>
                <button type="button" class="btn btn-secondary">4</button>
                <button type="button" class="btn btn-secondary">Final</button>
              </div>
            </div>
          </div>-->
        <!-- Fin Navegación páginas -->
      </div>
      <!-- Fin Sección noticias -->
      <div class="col-12 col-md-3">
        <!-- Cards -->
        <div class="mb-2">
          <div class="card text-white bg-warning mb-3" style="max-width: 18rem;">
            <div class="card-header">El color Amarillo es:</div>
            <div class="card-body">
              <h5 class="card-title">Dios es Amor</h5>
              <p class="card-text">El que no ama, no ha conocido a Dios; porque Dios es amor.<br>1° Juan 4:8</p>
              <p class="card-text">Y nosotros hemos conocido y creído el amor que Dios tiene para nosotros. Dios es amor; y el que permanece en amor, permanece en Dios, y Dios en él.<br>1° Juan 4:16</p>
            </div>
          </div>
        </div>
        <!-- Fin Cards -->
        <!-- Cards -->
        <div class="mb-2">
          <div class="card text-white bg-dark mb-3" style="max-width: 18rem;">
            <div class="card-header">El color negro es:</div>
            <div class="card-body">
              <h5 class="card-title">Pecado</h5>
              <p class="card-text">Por cuanto todos pecaron, y están destituido de la gloria de Dios.<br>Romanos 3:23</p>
              <p class="card-text">Porque la paga del pecado es muerte, mas la dádiva de Dios es vida eterna en Cristo Jesús Señor nuestro.<br>Romanos 6:23</p>
            </div>
          </div>
        </div>
        <!-- Fin Cards -->
        <!-- Cards -->
        <div class="mb-2">
          <div class="card text-white bg-danger mb-3" style="max-width: 18rem;">
            <div class="card-header">El color rojo es:</div>
            <div class="card-body">
              <h5 class="card-title">La Sangre</h5>
              <p class="card-text">...y la sangre de de Jesucristo su Hijo nos limpia de todo pecado. <br>1° Juan 1:7</p>
              <p class="card-text">Porque de tal manera amó Dios al mundo, que ha dado a su Hijo unigénito, para que todo aquel que en él cree, no se pierda, mas tenga vida eterna.<br>Juan 3:16</p>
            </div>
          </div>
        </div>
        <!-- Fin Cards -->
        <!-- Cards -->
        <div class="mb-2">
          <div class="card bg-light mb-3" style="max-width: 18rem;">
            <div class="card-header">El color blanco es:</div>
            <div class="card-body">
              <h5 class="card-title">El Perdón/Corazón Limpio</h5>
              <p class="card-text">Mas a todos los que le recibieron, a los que creen en su nombre, les dio postetad de ser hechos hijos de Dios.<br>Juan 1:12</p>
              <p class="card-text">Si confesamos nuestros pecados, él es fiel y justo para perdonar nuestros pecados, y limpiarnos de toda maldad.<br>1° Juan 1:9</p>
            </div>
          </div>
        </div>
        <!-- Fin Cards -->
        <!-- Cards -->
        <div class="mb-2">
          <div class="card text-white bg-success mb-3" style="max-width: 18rem;">
            <div class="card-header">El color verde es:</div>
            <div class="card-body">
              <h5 class="card-title">Crecimiento Espiritual</h5>
              <p class="card-text">Antes bien, creced en la gracia y el conocimiento de nuestro Señor y Salvador Jesucristo...<br>2° Pedro 3:18a.</p>
            </div>
          </div>
        </div>
        <!-- Fin Cards -->
      </div>
      <!-- Fin Aside -->
    </div>
</div>
<!-- Fin de Horarios y Actividades -->


